

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unica+One&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
*,
*::before,
*::after {
box-sizing: border-box;
margin: 0;
padding: 0;
}

html, body {
width: 100%;
overflow-x: hidden; /* HARD STOP mobile overflow */
}

img {
max-width: 100%;
height: auto;
display: block;
}
:root {
  /* Brand Colors */
  --color-bg-primary: #E9ECEF;   
  --color-bg-secondary: #F8F9FA;
  --color-accent-primary: #2563EB; 
  --color-accent-success: #22C55E; 
  --color-accent-warning: #D00000;

  --color-text-primary: #212529;
  --color-text-secondary: #9CA3AF;
  --color-border: #1F2933;
  --nav: rgb(255, 255, 255, 0.2) ;
  /* Typography */
  --font-heading: "Poppins", sans-serif, system-ui;
  --font-body: "Inter", sans-serif, system-ui;
  
  /* Font Sizes */
  --text-xl: clamp(2.5rem, 4vw, 3.5rem);
  --text-lg: 1.5rem;
  --text-md: 1rem;
  --text-sm: 0.875rem;

  /* Spacing */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 4rem;
  --space-xl: 6rem;

  /* Radius */
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;

  /* Shadow */
  --shadow-soft: 0 10px 30px rgba(0, 0, 0, 0.35);

  /* Transition */
  --transition-fast: 0.2s ease;
  --transition-medium: 0.35s ease;
}
[data-theme="dark"]{

  --color-bg-secondary: #1b1b1e;
  --color-text-primary: #E9ECEF;
  --color-bg-primary: #212529;
  --nav: rgba(3, 0, 0, 0.2);
}
body{
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: var(--font-body);
  overflow-x: hidden;
}

.glow::before {
  content: "";
  position: absolute;
  top: -20%;
 width: 600px;
  height: 600px; 
  background: radial-gradient(
    circle,
    rgba(37, 99, 235, 0.35) 0%,
    rgba(37, 99, 235, 0.15) 30%,
    rgba(37, 99, 235, 0.05) 55%,
    transparent 70%
  );
  filter: blur(40px);
  z-index: -1;
}
.glow::after {
  content: "";
  position: absolute;
  inset: 0;
  background:
    radial-gradient(
      circle at center,
      rgba(79, 156, 255, 0.35),
      transparent 60%
    );
  filter: blur(80px);
  width: 100%;
  z-index: -2;
  transform: scale(1.1);
}

.glow{
  position: relative;
  isolation: isolate; /* very important */

}